# ============================================================
# Rust
# ============================================================

**/target/


# ============================================================
# Go
# ============================================================

**/bin/
**/*_network/


# ============================================================
# Zig
# ============================================================
**/.zig-cache/
**/zig-out/

# ============================================================
# SearchRS
# ============================================================

searchrs/searchrs.idx
searchrs/searchrs_index/
searchrs/*.idx
searchrs/*.bin


# ============================================================
# Temporary Files
# ============================================================

tmp*
*.exe
*.local
data/


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db
